---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Some facts about me"
	pubDate={new Date('November 23 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		As a seasoned Software Developer, I excel in creating innovative solutions and enthusiastically learn new things. 
		Beyond my professional life, I am a dedicated father who values the balance between work and family. 
		Further as a hobby chess player, I enjoy the strategic thinking and problem-solving. 
		My commitment to excellence and personal growth drives me to deliver top-notch results 
		in every project I undertake.
	</p>

	<p>
		I strive to look at all topics in an truthful and fair manner and see more than just one side of the methaphorical coin. 
		My goals are to present you with insightful yet entertaining articles in the hope you and me gain a deeper 
		understanding. Let's make the internet a better place by sharing knowledge and learn some stuff while doing that.
	</p>

	<p>
		After all I love yapping.
	</p>


</Layout>
