---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
		ul {
			font-size: 1.1em;
			line-height: 1.75em;
			margin: 5px 0 15px;
		}
		li {
			list-style: none;
			position: relative;
			padding: 0 0 0 20px;
		}
		li::before {
			content: "";
			position: absolute;
			left: 0;
			top: 14px;
			height: 5px;
			width: 5px;
			border: 1px solid #000;
			border-width: 2px 2px 0 0;
			transform: rotate(45deg);
		}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, weary traveller...</h1>
			<p>
				Welcome to my blog. This is me yapping about all kind of topics but I do hope you will find what you are looking for. 
				My main focus will be improved learning/writing, programming, politics and a laymens view on philosophy.
			</p>

			<p>
				I am by no means an expert on most topics but one goal of the blog is to gain expertise. Afterall if you can present a topic in an understandable manner you have to know it.
			</p>

			<p>
				English is not my native language so forgive any spelling mistakes. Nor is my german free of mistakes. I will try my best to fix them as I find them.
			</p>

				
			<p> Remember to:
			<ul>
				<li>Strive for greatness.</li>
				<li>Be kind, to others and to yourself.</li>
				<li>Take action, to change the world into one you want to live in.</li>
				<li>Find purpose.</li>
				<li>Grow.</li>
			</ul>
			</p>			
		</main>
		<Footer />
	</body>
</html>
